#content,
.menu-content,
.menu-button,
.generation-number,
.num-box,
.lp,
.num {
  display: flex;
}
#content,
.menu-content
 {
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.menu-button {
  justify-content: center;
}
.text {
  font-size: 32px;
}
.num-box {
  align-items: center;
  flex-direction: column;
  border: 1px solid;
  border-radius: 24px;
  font-size: 26px;
  width: 250px;
  margin: 5px;
  padding: 5px;
}
.lp {
  justify-content: center;
  border: 1px dotted;
  border-radius: 24px;
  background-color: #bab8a0;
  width: 100%;
}
.btn {
  border: 1px solid;
  border-radius: 24px;
  background-color: #bab8a0;
  cursor: pointer;
  font-size: 38px;
  width: 250px;
}
.btn:hover {
  background-color: #a9a790;
}
.num {
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: #edd852;
  font-size: 68px;
  height: 148px;
  width: 148px;
  margin: 5px;
}